In [14]:
import pandas as pd

In [15]:
#import file from C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn
data = pd.read_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/train.csv", index_col=0)

In [16]:
data['Age_Tenure_Ratio'] = data['Age']/data['Tenure']
data['Balance_Salary_Ratio'] = data['Balance']/data['EstimatedSalary']
data['Age_Balance_Ratio'] = data['Age']/data['Balance']
data['Balance_Tenure_Ratio'] = data['Balance']/data['Tenure']
data['CreditScore_Tenure_Ratio'] = data['CreditScore']/data['Tenure']
data['OtherProducts'] = data['NumOfProducts'] - data['HasCrCard']
data['Age_Balance_Salary_Ratio'] = data['Age']/data['Balance']/data['EstimatedSalary']
data['Age_CreditScore_Ratio'] = data['Age']/data['CreditScore']
data['Balance_CreditScore_Ratio'] = data['Balance']/data['CreditScore']
data['Balance_Tenure_Salary_Ratio'] = data['Balance']/data['Tenure']/data['EstimatedSalary']
data['CreditScore_Tenure_Salary_Ratio'] = data['CreditScore']/data['Tenure']/data['EstimatedSalary']
data = data.replace([np.inf, -np.inf], 0)
data = data.fillna(0)

In [17]:
%run Source_Be_With_Me.ipynb
eda(data)

Shape
Number of columns are 165034 and number of rows are 24

Data types

CustomerId                           int64
Surname                             object
CreditScore                          int64
Geography                           object
Gender                              object
Age                                float64
Tenure                               int64
Balance                            float64
NumOfProducts                        int64
HasCrCard                          float64
IsActiveMember                     float64
EstimatedSalary                    float64
Exited                               int64
Age_Tenure_Ratio                   float64
Balance_Salary_Ratio               float64
Age_Balance_Ratio                  float64
Balance_Tenure_Ratio               float64
CreditScore_Tenure_Ratio           float64
OtherProducts                      float64
Age_Balance_Salary_Ratio           float64
Age_CreditScore_Ratio              float64
Balance_CreditScore_Ratio          float64
Balance_Tenure_Salary_Ratio        float64
CreditScore_Tenure_Salary_Ratio    float64
dtype: object

Sample rows - Top 5

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio
id,,,,,,,,,,,,,,,,,,,,,,,,
0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0,11.0,0.00,0.00e+00,0.00,222.67,1.0,0.00e+00,0.05,0.00,0.00,1.23e-03
1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0,33.0,0.00,0.00e+00,0.00,627.00,1.0,0.00e+00,0.05,0.00,0.00,1.27e-02
2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0,4.0,0.00,0.00e+00,0.00,67.80,1.0,0.00e+00,0.06,0.00,0.00,3.67e-04
3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0,17.0,1.76,2.28e-04,74441.27,290.50,0.0,2.70e-09,0.06,256.25,0.88,3.44e-03
4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0,6.6,0.00,0.00e+00,0.00,143.20,1.0,0.00e+00,0.05,0.00,0.00,9.50e-03

EDA Statistics

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio
count,1.65e+05,165034.00,165034.00,165034.00,165034.00,165034.00,165034.00,165034.0,165034.00,165034.00,165034.00,165034.00,1.65e+05,165034.00,165034.00,165034.00,1.65e+05,165034.00,165034.00,165034.00,1.65e+05
mean,1.57e+07,656.45,38.13,5.02,55478.09,1.55,0.75,0.5,112574.82,0.21,11.34,2.10,1.59e-04,16584.28,194.80,0.80,5.81e-09,0.06,85.80,0.57,6.29e-03
std,7.14e+04,80.10,8.87,2.81,62817.66,0.55,0.43,0.5,50292.87,0.41,10.85,91.64,2.42e-03,29361.51,177.59,0.69,2.40e-07,0.02,98.64,26.10,1.36e-01
min,1.56e+07,350.00,18.00,0.00,0.00,1.00,0.00,0.0,11.58,0.00,0.00,0.00,0.00e+00,0.00,0.00,0.00,0.00e+00,0.02,0.00,0.00,0.00e+00
25%,1.56e+07,597.00,32.00,3.00,0.00,1.00,1.00,0.0,74637.57,0.00,4.78,0.00,0.00e+00,0.00,84.88,0.00,0.00e+00,0.05,0.00,0.00,7.19e-04
50%,1.57e+07,659.00,37.00,5.00,0.00,2.00,1.00,0.0,117948.00,0.00,7.20,0.00,0.00e+00,0.00,123.50,1.00,0.00e+00,0.06,0.00,0.00,1.27e-03
75%,1.58e+07,710.00,42.00,7.00,119939.52,2.00,1.00,1.0,155152.47,0.00,13.15,0.98,3.02e-04,21005.77,227.00,1.00,2.65e-09,0.07,180.40,0.21,2.73e-03
max,1.58e+07,850.00,92.00,10.00,250898.09,4.00,1.00,1.0,199992.48,1.00,92.00,12863.80,9.82e-01,221532.80,850.00,4.00,3.65e-05,0.21,470.08,5953.86,3.06e+01

Missing values

Series([], dtype: int64)

Count of Outliers

Age                                  313
Age_Balance_Ratio                     64
Age_Balance_Salary_Ratio            5435
Age_CreditScore_Ratio                385
Age_Tenure_Ratio                    7120
Balance_Salary_Ratio                5147
Balance_Tenure_Ratio                7697
Balance_Tenure_Salary_Ratio        10883
CreditScore_Tenure_Ratio            8693
CreditScore_Tenure_Salary_Ratio    10313
Exited                             34921
HasCrCard                          40606
dtype: int64

In [18]:
data.drop(['Surname','CustomerId'], axis=1, inplace=True)
data['HasCrCard'] = data['HasCrCard'].astype(int)
data['Age'] = data['Age'].astype(int)
data['IsActiveMember'] = data['IsActiveMember'].astype(int)

In [19]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
transformer = make_column_transformer((OneHotEncoder(handle_unknown='ignore'),['Geography','Gender']))

In [20]:
# Transforming
transformed = transformer.fit_transform(data.drop(['Exited'], axis=1))
print(transformed.dtype)
# Transformating back
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
# One-hot encoding removed an index. Let's put it back:
transformed_df.index = data.index
# Joining tables
data = pd.concat([data, transformed_df], axis=1)
# Dropping old categorical columns
data.drop(['Geography','Gender'], axis=1, inplace=True)
# CHecking result
data.head()

float64

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,,
0,668,33,3,0.00,2,1,0,181449.97,0,11.0,0.00,0.00e+00,0.00,222.67,1.0,0.00e+00,0.05,0.00,0.00,1.23e-03,1.0,0.0,0.0,0.0,1.0
1,627,33,1,0.00,2,1,1,49503.50,0,33.0,0.00,0.00e+00,0.00,627.00,1.0,0.00e+00,0.05,0.00,0.00,1.27e-02,1.0,0.0,0.0,0.0,1.0
2,678,40,10,0.00,2,1,0,184866.69,0,4.0,0.00,0.00e+00,0.00,67.80,1.0,0.00e+00,0.06,0.00,0.00,3.67e-04,1.0,0.0,0.0,0.0,1.0
3,581,34,2,148882.54,1,1,1,84560.88,0,17.0,1.76,2.28e-04,74441.27,290.50,0.0,2.70e-09,0.06,256.25,0.88,3.44e-03,1.0,0.0,0.0,0.0,1.0
4,716,33,5,0.00,2,1,1,15068.83,0,6.6,0.00,0.00e+00,0.00,143.20,1.0,0.00e+00,0.05,0.00,0.00,9.50e-03,0.0,0.0,1.0,0.0,1.0

In [21]:
trainX, trainY, testX, testY, OOTX, OOTY = stratified_sampling(data, 'Exited', 0.4, 0.5, 903949505)

Original distribution

   counts      %
0  130113  78.84
1   34921  21.16

Train distribution

   counts      %
0   78067  78.84
1   20953  21.16

Test distribution

   counts      %
0   26023  78.84
1    6984  21.16

OOT distribution

   counts      %
0   26023  78.84
1    6984  21.16

Train_x shape
Number of columns are 99020 and number of rows are 24

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,
144865,651,34,2,0.00,2,1,1,100995.68,17.0,0.00,0.00e+00,0.00,325.50,1.0,0.00e+00,0.05,0.00,0.00,3.22e-03,0.0,0.0,1.0,1.0,0.0
5644,745,38,5,0.00,1,1,0,96670.20,7.6,0.00,0.00e+00,0.00,149.00,0.0,0.00e+00,0.05,0.00,0.00,1.54e-03,1.0,0.0,0.0,0.0,1.0
105829,574,35,1,99774.50,1,0,0,4896.11,35.0,20.38,3.51e-04,99774.50,574.00,1.0,7.16e-08,0.06,173.82,20.38,1.17e-01,0.0,1.0,0.0,1.0,0.0
116624,760,33,3,121593.18,2,1,0,123086.59,11.0,0.99,2.71e-04,40531.06,253.33,1.0,2.20e-09,0.04,159.99,0.33,2.06e-03,0.0,1.0,0.0,1.0,0.0
160685,652,36,1,0.00,2,1,1,44215.86,36.0,0.00,0.00e+00,0.00,652.00,1.0,0.00e+00,0.06,0.00,0.00,1.47e-02,0.0,0.0,1.0,1.0,0.0

Train_y shape
Number of columns are 99020 and number of rows are 1

        Exited
id
144865       0
5644         0
105829       0
116624       0
160685       0

Train_x shape
Number of columns are 33007 and number of rows are 24

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,
89284,662,40,5,99799.76,1,1,1,132562.88,8.00,0.75,4.01e-04,19959.95,132.40,0.0,3.02e-09,0.06,150.75,0.15,9.99e-04,1.0,0.0,0.0,0.0,1.0
25764,814,30,3,123070.89,2,1,0,107825.08,10.00,1.14,2.44e-04,41023.63,271.33,1.0,2.26e-09,0.04,151.19,0.38,2.52e-03,0.0,1.0,0.0,0.0,1.0
109169,691,36,7,0.00,2,1,1,120830.65,5.14,0.00,0.00e+00,0.00,98.71,1.0,0.00e+00,0.05,0.00,0.00,8.17e-04,0.0,0.0,1.0,1.0,0.0
100843,748,27,2,90971.85,2,1,1,131662.47,13.50,0.69,2.97e-04,45485.93,374.00,1.0,2.25e-09,0.04,121.62,0.35,2.84e-03,0.0,1.0,0.0,1.0,0.0
52000,653,37,9,119556.10,2,1,0,78250.13,4.11,1.53,3.09e-04,13284.01,72.56,1.0,3.95e-09,0.06,183.09,0.17,9.27e-04,1.0,0.0,0.0,1.0,0.0

Train_y shape
Number of columns are 33007 and number of rows are 1

        Exited
id
89284        0
25764        0
109169       0
100843       0
52000        0

OOT_x shape
Number of columns are 33007 and number of rows are 24

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,
52931,679,31,3,0.00,2,1,0,132424.69,10.33,0.00,0.00e+00,0.00,226.33,1.0,0.00e+00,0.05,0.00,0.00,1.71e-03,1.0,0.0,0.0,0.0,1.0
70772,755,45,7,135643.00,1,1,0,143619.52,6.43,0.94,3.32e-04,19377.57,107.86,0.0,2.31e-09,0.06,179.66,0.13,7.51e-04,0.0,1.0,0.0,1.0,0.0
25090,652,43,9,123675.21,1,0,0,166516.86,4.78,0.74,3.48e-04,13741.69,72.44,1.0,2.09e-09,0.07,189.69,0.08,4.35e-04,0.0,1.0,0.0,0.0,1.0
154802,573,31,6,0.00,2,1,1,129955.92,5.17,0.00,0.00e+00,0.00,95.50,1.0,0.00e+00,0.05,0.00,0.00,7.35e-04,1.0,0.0,0.0,0.0,1.0
42624,706,40,8,0.00,2,1,0,124592.88,5.00,0.00,0.00e+00,0.00,88.25,1.0,0.00e+00,0.06,0.00,0.00,7.08e-04,1.0,0.0,0.0,0.0,1.0

OOT_y shape
Number of columns are 33007 and number of rows are 1

        Exited
id
52931        0
70772        0
25090        1
154802       0
42624        0

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(trainX)
trainX = pd.DataFrame(scaler.transform(trainX), columns=trainX.columns, index=trainX.index)
testX = pd.DataFrame(scaler.transform(testX), columns=testX.columns, index=testX.index)
OOTX = pd.DataFrame(scaler.transform(OOTX), columns=OOTX.columns, index=OOTX.index)
display(trainX.head())
display(testX.head())
display(OOTX.head())

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,
144865,0.60,0.22,0.2,0.00,0.33,1.0,1.0,0.50,0.18,0.00e+00,0.00e+00,0.00,0.38,0.25,0.00e+00,0.17,0.00,0.00e+00,2.11e-04,0.0,0.0,1.0,1.0,0.0
5644,0.79,0.27,0.5,0.00,0.00,1.0,0.0,0.48,0.08,0.00e+00,0.00e+00,0.00,0.18,0.00,0.00e+00,0.16,0.00,0.00e+00,1.01e-04,1.0,0.0,0.0,0.0,1.0
105829,0.45,0.23,0.1,0.40,0.00,0.0,0.0,0.02,0.38,1.58e-03,3.57e-04,0.48,0.68,0.25,1.96e-03,0.21,0.39,6.34e-03,7.66e-03,0.0,1.0,0.0,1.0,0.0
116624,0.82,0.20,0.3,0.48,0.33,1.0,0.0,0.62,0.12,7.68e-05,2.76e-04,0.19,0.30,0.25,6.04e-05,0.12,0.36,1.02e-04,1.34e-04,0.0,1.0,0.0,1.0,0.0
160685,0.60,0.24,0.1,0.00,0.33,1.0,1.0,0.22,0.39,0.00e+00,0.00e+00,0.00,0.77,0.25,0.00e+00,0.18,0.00,0.00e+00,9.63e-04,0.0,0.0,1.0,1.0,0.0

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,
89284,0.62,0.30,0.5,0.40,0.00,1.0,1.0,0.66,0.09,5.85e-05,4.08e-04,0.10,0.16,0.00,8.28e-05,0.21,0.34,4.68e-05,6.53e-05,1.0,0.0,0.0,0.0,1.0
25764,0.93,0.16,0.3,0.49,0.33,1.0,0.0,0.54,0.11,8.87e-05,2.48e-04,0.20,0.32,0.25,6.19e-05,0.08,0.34,1.18e-04,1.64e-04,0.0,1.0,0.0,0.0,1.0
109169,0.68,0.24,0.7,0.00,0.33,1.0,1.0,0.60,0.06,0.00e+00,0.00e+00,0.00,0.12,0.25,0.00e+00,0.17,0.00,0.00e+00,5.34e-05,0.0,0.0,1.0,1.0,0.0
100843,0.80,0.12,0.2,0.36,0.33,1.0,1.0,0.66,0.15,5.37e-05,3.02e-04,0.22,0.44,0.25,6.17e-05,0.08,0.28,1.07e-04,1.86e-04,0.0,1.0,0.0,1.0,0.0
52000,0.61,0.26,0.9,0.48,0.33,1.0,0.0,0.39,0.04,1.19e-04,3.15e-04,0.06,0.09,0.25,1.08e-04,0.19,0.42,5.28e-05,6.06e-05,1.0,0.0,0.0,1.0,0.0

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,
52931,0.66,0.18,0.3,0.00,0.33,1.0,0.0,0.66,0.11,0.00e+00,0.00e+00,0.00,0.27,0.25,0.00e+00,0.13,0.00,0.00e+00,1.12e-04,1.0,0.0,0.0,0.0,1.0
70772,0.81,0.36,0.7,0.54,0.00,1.0,0.0,0.72,0.07,7.34e-05,3.38e-04,0.09,0.13,0.00,6.32e-05,0.21,0.41,4.20e-05,4.91e-05,0.0,1.0,0.0,1.0,0.0
25090,0.60,0.34,0.9,0.49,0.00,0.0,0.0,0.83,0.05,5.77e-05,3.54e-04,0.07,0.09,0.25,5.72e-05,0.24,0.43,2.57e-05,2.84e-05,0.0,1.0,0.0,0.0,1.0
154802,0.45,0.18,0.6,0.00,0.33,1.0,1.0,0.65,0.06,0.00e+00,0.00e+00,0.00,0.11,0.25,0.00e+00,0.18,0.00,0.00e+00,4.80e-05,1.0,0.0,0.0,0.0,1.0
42624,0.71,0.30,0.8,0.00,0.33,1.0,0.0,0.62,0.05,0.00e+00,0.00e+00,0.00,0.10,0.25,0.00e+00,0.19,0.00,0.00e+00,4.63e-05,1.0,0.0,0.0,0.0,1.0

In [23]:
Dtree = decision_tree(X=trainX, Y=trainY, max_depth=9)
print("Train performance")
predictions_train, accuracy_train, f1_train = predict(Dtree, trainX, trainY)
print("Test performance")
predictions_test, accuracy_test, f1_test = predict(Dtree, testX, testY)
print("OOT performance")
predictions_OOT, accuracy_OOT, f1_OOT = predict(Dtree, OOTX, OOTY)

Train performance
Accuracy: 0.8720864471823874
F1 Score: 0.6489662435563439
Test performance
Accuracy: 0.8590904959554034
F1 Score: 0.6138005480362035
OOT performance
Accuracy: 0.8589087163328991
F1 Score: 0.6152193670990663

In [28]:
XGB = xgboost(X=trainX, Y=trainY, learning_rate=0.05, n_estimators=1000, subsample=0.3, max_depth=5)
print("Train performance")
predictions_train, accuracy_train, f1_train = predict(XGB, trainX, trainY)
print("Test performance")
predictions_test, accuracy_test, f1_test = predict(XGB, testX, testY)
print("OOT performance")
predictions_OOT, accuracy_OOT, f1_OOT = predict(XGB, OOTX, OOTY)

C:\Users\sagni\anaconda3\envs\CS7641\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\sagni\anaconda3\envs\CS7641\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[22:15:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Train performance
Accuracy: 0.8865784689961624
F1 Score: 0.696352772595777
Test performance
Accuracy: 0.8639985457630199
F1 Score: 0.63310175725378
OOT performance
Accuracy: 0.8629684612354955
F1 Score: 0.6326646633639242

In [71]:
KNN = knn(X=trainX, Y=trainY, distance='euclidean', n_neighbors=1000)
print("Train performance")
predictions_train, accuracy_train, f1_train = predict(KNN, trainX, trainY)
print("Test performance")
predictions_test, accuracy_test, f1_test = predict(KNN, testX, testY)
print("OOT performance")
predictions_OOT, accuracy_OOT, f1_OOT = predict(KNN, OOTX, OOTY)

C:\Users\sagni\anaconda3\envs\CS7641\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Train performance
Accuracy: 0.8139567764088063
F1 Score: 0.3359048305695746
Test performance
Accuracy: 0.8131002514618111
F1 Score: 0.3285076738870143
OOT performance
Accuracy: 0.8118580907080316
F1 Score: 0.328212894850714

In [74]:
GBM = gradient_boosting(X=trainX, Y=trainY, learning_rate=0.01, n_estimators=10000, subsample=0.5, max_depth=6)
print("Train performance")
predictions_train, accuracy_train, f1_train = predict(GBM, trainX, trainY)
print("Test performance")
predictions_test, accuracy_test, f1_test = predict(GBM, testX, testY)
print("OOT performance")
predictions_OOT, accuracy_OOT, f1_OOT = predict(GBM, OOTX, OOTY)

C:\Users\sagni\anaconda3\envs\CS7641\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Train performance
Accuracy: 0.9254292062209655
F1 Score: 0.8059293523969724
Test performance
Accuracy: 0.8645438846305329
F1 Score: 0.6389987888574888
OOT performance
Accuracy: 0.8605750295391886
F1 Score: 0.6288709677419355

In [29]:
#Testing on OOT dataset
#read data C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\Test.csv
submission = pd.read_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/Test.csv", index_col=0)
submission['Age_Tenure_Ratio'] = submission['Age']/submission['Tenure']
submission['Balance_Salary_Ratio'] = submission['Balance']/submission['EstimatedSalary']
submission['Age_Balance_Ratio'] = submission['Age']/submission['Balance']
submission['Balance_Tenure_Ratio'] = submission['Balance']/submission['Tenure']
submission['CreditScore_Tenure_Ratio'] = submission['CreditScore']/submission['Tenure']
submission['OtherProducts'] = submission['NumOfProducts'] - submission['HasCrCard']
submission['Age_Balance_Salary_Ratio'] = submission['Age']/submission['Balance']/submission['EstimatedSalary']
submission['Age_CreditScore_Ratio'] = submission['Age']/submission['CreditScore']
submission['Balance_CreditScore_Ratio'] = submission['Balance']/submission['CreditScore']
submission['Balance_Tenure_Salary_Ratio'] = submission['Balance']/submission['Tenure']/submission['EstimatedSalary']
submission['CreditScore_Tenure_Salary_Ratio'] = submission['CreditScore']/submission['Tenure']/submission['EstimatedSalary']
submission = submission.replace([np.inf, -np.inf], 0)
submission = submission.fillna(0)
submission.drop(['Surname','CustomerId'], axis=1, inplace=True)
submission['HasCrCard'] = submission['HasCrCard'].astype(int)
submission['Age'] = submission['Age'].astype(int)
submission['IsActiveMember'] = submission['IsActiveMember'].astype(int)
# Transforming
transformed = transformer.transform(submission)
# Transformating back
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
# One-hot encoding removed an index. Let's put it back:
transformed_df.index = submission.index
# Joining tables
submission = pd.concat([submission, transformed_df], axis=1)
# Dropping old categorical columns
submission.drop(['Geography','Gender'], axis=1, inplace=True)
# CHecking result
eda(submission)
submission = pd.DataFrame(scaler.transform(submission), columns=submission.columns, index=submission.index)

#Use Dtree
predictions_submission = Dtree.predict(submission)
predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
#change column names to submi
predictions_submission.columns = ['Exited']
predictions_submission.head()
#export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_Dtree.csv", index=True)

#Use XGB
predictions_submission = XGB.predict(submission)
predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
#change column names to submi
predictions_submission.columns = ['Exited']
predictions_submission.head()
#export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_XGB.csv", index=True)

# #Use Knn
# predictions_submission = KNN.predict(submission)
# predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
# #change column names to submi
# predictions_submission.columns = ['Exited']
# predictions_submission.head()
# #export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
# predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_KNN.csv", index=True)

# #Use GBM
# predictions_submission = GBM.predict(submission)
# predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
# #change column names to submi
# predictions_submission.columns = ['Exited']
# predictions_submission.head()
# #export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
# predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_GBM.csv", index=True)

Shape
Number of columns are 110023 and number of rows are 24

Data types

CreditScore                          int64
Age                                  int32
Tenure                               int64
Balance                            float64
NumOfProducts                        int64
HasCrCard                            int32
IsActiveMember                       int32
EstimatedSalary                    float64
Age_Tenure_Ratio                   float64
Balance_Salary_Ratio               float64
Age_Balance_Ratio                  float64
Balance_Tenure_Ratio               float64
CreditScore_Tenure_Ratio           float64
OtherProducts                      float64
Age_Balance_Salary_Ratio           float64
Age_CreditScore_Ratio              float64
Balance_CreditScore_Ratio          float64
Balance_Tenure_Salary_Ratio        float64
CreditScore_Tenure_Salary_Ratio    float64
onehotencoder__x0_France           float64
onehotencoder__x0_Germany          float64
onehotencoder__x0_Spain            float64
onehotencoder__x1_Female           float64
onehotencoder__x1_Male             float64
dtype: object

Sample rows - Top 5

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,,,,,,,,,,,
165034,586,23,2,0.00,2,0,1,160976.75,11.50,0.00,0.00e+00,0.00,293.00,2.0,0.00e+00,0.04,0.00,0.00,1.82e-03,1.0,0.0,0.0,1.0,0.0
165035,683,46,2,0.00,1,1,0,72549.27,23.00,0.00,0.00e+00,0.00,341.50,0.0,0.00e+00,0.07,0.00,0.00,4.71e-03,1.0,0.0,0.0,1.0,0.0
165036,656,34,7,0.00,2,1,0,138882.09,4.86,0.00,0.00e+00,0.00,93.71,1.0,0.00e+00,0.05,0.00,0.00,6.75e-04,1.0,0.0,0.0,1.0,0.0
165037,681,36,8,0.00,1,1,0,113931.57,4.50,0.00,0.00e+00,0.00,85.12,0.0,0.00e+00,0.05,0.00,0.00,7.47e-04,1.0,0.0,0.0,0.0,1.0
165038,752,38,10,121263.62,1,1,0,139431.00,3.80,0.87,3.13e-04,12126.36,75.20,0.0,2.25e-09,0.05,161.25,0.09,5.39e-04,0.0,1.0,0.0,0.0,1.0

EDA Statistics

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Age_Tenure_Ratio,Balance_Salary_Ratio,Age_Balance_Ratio,Balance_Tenure_Ratio,CreditScore_Tenure_Ratio,OtherProducts,Age_Balance_Salary_Ratio,Age_CreditScore_Ratio,Balance_CreditScore_Ratio,Balance_Tenure_Salary_Ratio,CreditScore_Tenure_Salary_Ratio,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
count,110023.00,110023.00,110023.00,110023.00,110023.00,110023.00,110023.0,110023.00,110023.00,110023.00,1.10e+05,110023.00,110023.00,110023.00,1.10e+05,110023.00,110023.00,110023.00,1.10e+05,110023.00,110023.00,110023.00,110023.00,110023.00
mean,656.53,38.12,5.00,55333.61,1.55,0.75,0.5,112315.15,11.36,2.12,1.54e-04,16743.96,195.00,0.80,6.32e-09,0.06,85.57,0.65,7.30e-03,0.57,0.21,0.22,0.44,0.56
std,80.32,8.86,2.81,62788.52,0.54,0.43,0.5,50277.05,10.84,86.12,2.08e-04,29582.06,177.08,0.69,2.75e-07,0.02,98.56,37.75,2.57e-01,0.49,0.41,0.41,0.50,0.50
min,350.00,18.00,0.00,0.00,1.00,0.00,0.0,11.58,0.00,0.00,0.00e+00,0.00,0.00,0.00,0.00e+00,0.02,0.00,0.00,0.00e+00,0.00,0.00,0.00,0.00,0.00
25%,597.00,32.00,3.00,0.00,1.00,1.00,0.0,74440.33,4.80,0.00,0.00e+00,0.00,85.00,0.00,0.00e+00,0.05,0.00,0.00,7.24e-04,0.00,0.00,0.00,0.00,0.00
50%,660.00,37.00,5.00,0.00,2.00,1.00,0.0,117832.23,7.20,0.00,0.00e+00,0.00,124.17,1.00,0.00e+00,0.06,0.00,0.00,1.29e-03,1.00,0.00,0.00,0.00,1.00
75%,710.00,42.00,7.00,120145.60,2.00,1.00,1.0,154631.35,13.33,0.98,3.02e-04,21260.69,227.67,1.00,2.66e-09,0.07,180.08,0.21,2.75e-03,1.00,0.00,0.00,1.00,1.00
max,850.00,92.00,10.00,250898.09,4.00,1.00,1.0,199992.48,92.00,10614.66,2.38e-02,211774.31,850.00,4.00,4.29e-05,0.21,453.03,10614.66,5.54e+01,1.00,1.00,1.00,1.00,1.00

Missing values

Series([], dtype: int64)

Count of Outliers

Age                                  218
HasCrCard                          27171
Age_Tenure_Ratio                    4755
Balance_Salary_Ratio                3446
Age_Balance_Ratio                     51
Balance_Tenure_Ratio                5173
CreditScore_Tenure_Ratio            5715
Age_Balance_Salary_Ratio            3747
Age_CreditScore_Ratio                294
Balance_Tenure_Salary_Ratio         7275
CreditScore_Tenure_Salary_Ratio     6922
onehotencoder__x0_Germany          22939
onehotencoder__x0_Spain            23913
dtype: int64