In [46]:
import pandas as pd
import numpy as np

In [47]:
#import file from C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn
data = pd.read_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/train.csv", index_col=0)

In [48]:
# data['Age_Tenure_Ratio'] = data['Age']/data['Tenure']
# data['Balance_Salary_Ratio'] = data['Balance']/data['EstimatedSalary']
# data['Age_Balance_Ratio'] = data['Age']/data['Balance']
# data['Balance_Tenure_Ratio'] = data['Balance']/data['Tenure']
# data['CreditScore_Tenure_Ratio'] = data['CreditScore']/data['Tenure']
# data['OtherProducts'] = data['NumOfProducts'] - data['HasCrCard']
# data['Age_Balance_Salary_Ratio'] = data['Age']/data['Balance']/data['EstimatedSalary']
# data['Age_CreditScore_Ratio'] = data['Age']/data['CreditScore']
# data['Balance_CreditScore_Ratio'] = data['Balance']/data['CreditScore']
# data['Balance_Tenure_Salary_Ratio'] = data['Balance']/data['Tenure']/data['EstimatedSalary']
# data['CreditScore_Tenure_Salary_Ratio'] = data['CreditScore']/data['Tenure']/data['EstimatedSalary']
# data = data.replace([np.inf, -np.inf], 0)
# data = data.fillna(0)

In [49]:
%run Source_Be_With_Me.ipynb
eda(data)

Shape
Number of columns are 165034 and number of rows are 13

Data types

CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object

Sample rows - Top 5

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
id,,,,,,,,,,,,,
0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

EDA Statistics

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,1.65e+05,165034.00,165034.00,165034.00,165034.00,165034.00,165034.00,165034.0,165034.00,165034.00
mean,1.57e+07,656.45,38.13,5.02,55478.09,1.55,0.75,0.5,112574.82,0.21
std,7.14e+04,80.10,8.87,2.81,62817.66,0.55,0.43,0.5,50292.87,0.41
min,1.56e+07,350.00,18.00,0.00,0.00,1.00,0.00,0.0,11.58,0.00
25%,1.56e+07,597.00,32.00,3.00,0.00,1.00,1.00,0.0,74637.57,0.00
50%,1.57e+07,659.00,37.00,5.00,0.00,2.00,1.00,0.0,117948.00,0.00
75%,1.58e+07,710.00,42.00,7.00,119939.52,2.00,1.00,1.0,155152.47,0.00
max,1.58e+07,850.00,92.00,10.00,250898.09,4.00,1.00,1.0,199992.48,1.00

Missing values

Series([], dtype: int64)

Count of Outliers

Age            313
Exited       34921
HasCrCard    40606
dtype: int64

In [50]:
data.drop(['Surname','CustomerId'], axis=1, inplace=True)
data['HasCrCard'] = data['HasCrCard'].astype(int)
data['Age'] = data['Age'].astype(int)
data['IsActiveMember'] = data['IsActiveMember'].astype(int)

In [51]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
transformer = make_column_transformer((OneHotEncoder(handle_unknown='ignore'),['Geography','Gender']))

In [52]:
# Transforming
transformed = transformer.fit_transform(data.drop(['Exited'], axis=1))
print(transformed.dtype)
# Transformating back
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
# One-hot encoding removed an index. Let's put it back:
transformed_df.index = data.index
# Joining tables
data = pd.concat([data, transformed_df], axis=1)
# Dropping old categorical columns
data.drop(['Geography','Gender'], axis=1, inplace=True)
# CHecking result
data.head()

float64

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,,
0,668,33,3,0.00,2,1,0,181449.97,0,1.0,0.0,0.0,0.0,1.0
1,627,33,1,0.00,2,1,1,49503.50,0,1.0,0.0,0.0,0.0,1.0
2,678,40,10,0.00,2,1,0,184866.69,0,1.0,0.0,0.0,0.0,1.0
3,581,34,2,148882.54,1,1,1,84560.88,0,1.0,0.0,0.0,0.0,1.0
4,716,33,5,0.00,2,1,1,15068.83,0,0.0,0.0,1.0,0.0,1.0

In [53]:
trainX, trainY, testX, testY, OOTX, OOTY = stratified_sampling(data, 'Exited', 0.4, 0.5, 903949505)

Original distribution

   counts      %
0  130113  78.84
1   34921  21.16

Train distribution

   counts      %
0   78067  78.84
1   20953  21.16

Test distribution

   counts      %
0   26023  78.84
1    6984  21.16

OOT distribution

   counts      %
0   26023  78.84
1    6984  21.16

Train_x shape
Number of columns are 99020 and number of rows are 13

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,
144865,651,34,2,0.00,2,1,1,100995.68,0.0,0.0,1.0,1.0,0.0
5644,745,38,5,0.00,1,1,0,96670.20,1.0,0.0,0.0,0.0,1.0
105829,574,35,1,99774.50,1,0,0,4896.11,0.0,1.0,0.0,1.0,0.0
116624,760,33,3,121593.18,2,1,0,123086.59,0.0,1.0,0.0,1.0,0.0
160685,652,36,1,0.00,2,1,1,44215.86,0.0,0.0,1.0,1.0,0.0

Train_y shape
Number of columns are 99020 and number of rows are 1

        Exited
id
144865       0
5644         0
105829       0
116624       0
160685       0

Train_x shape
Number of columns are 33007 and number of rows are 13

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,
89284,662,40,5,99799.76,1,1,1,132562.88,1.0,0.0,0.0,0.0,1.0
25764,814,30,3,123070.89,2,1,0,107825.08,0.0,1.0,0.0,0.0,1.0
109169,691,36,7,0.00,2,1,1,120830.65,0.0,0.0,1.0,1.0,0.0
100843,748,27,2,90971.85,2,1,1,131662.47,0.0,1.0,0.0,1.0,0.0
52000,653,37,9,119556.10,2,1,0,78250.13,1.0,0.0,0.0,1.0,0.0

Train_y shape
Number of columns are 33007 and number of rows are 1

        Exited
id
89284        0
25764        0
109169       0
100843       0
52000        0

OOT_x shape
Number of columns are 33007 and number of rows are 13

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,
52931,679,31,3,0.00,2,1,0,132424.69,1.0,0.0,0.0,0.0,1.0
70772,755,45,7,135643.00,1,1,0,143619.52,0.0,1.0,0.0,1.0,0.0
25090,652,43,9,123675.21,1,0,0,166516.86,0.0,1.0,0.0,0.0,1.0
154802,573,31,6,0.00,2,1,1,129955.92,1.0,0.0,0.0,0.0,1.0
42624,706,40,8,0.00,2,1,0,124592.88,1.0,0.0,0.0,0.0,1.0

OOT_y shape
Number of columns are 33007 and number of rows are 1

        Exited
id
52931        0
70772        0
25090        1
154802       0
42624        0

In [54]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(trainX)
trainX = pd.DataFrame(scaler.transform(trainX), columns=trainX.columns, index=trainX.index)
testX = pd.DataFrame(scaler.transform(testX), columns=testX.columns, index=testX.index)
OOTX = pd.DataFrame(scaler.transform(OOTX), columns=OOTX.columns, index=OOTX.index)
display(trainX.head())
display(testX.head())
display(OOTX.head())

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,
144865,0.60,0.22,0.2,0.00,0.33,1.0,1.0,0.50,0.0,0.0,1.0,1.0,0.0
5644,0.79,0.27,0.5,0.00,0.00,1.0,0.0,0.48,1.0,0.0,0.0,0.0,1.0
105829,0.45,0.23,0.1,0.40,0.00,0.0,0.0,0.02,0.0,1.0,0.0,1.0,0.0
116624,0.82,0.20,0.3,0.48,0.33,1.0,0.0,0.62,0.0,1.0,0.0,1.0,0.0
160685,0.60,0.24,0.1,0.00,0.33,1.0,1.0,0.22,0.0,0.0,1.0,1.0,0.0

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,
89284,0.62,0.30,0.5,0.40,0.00,1.0,1.0,0.66,1.0,0.0,0.0,0.0,1.0
25764,0.93,0.16,0.3,0.49,0.33,1.0,0.0,0.54,0.0,1.0,0.0,0.0,1.0
109169,0.68,0.24,0.7,0.00,0.33,1.0,1.0,0.60,0.0,0.0,1.0,1.0,0.0
100843,0.80,0.12,0.2,0.36,0.33,1.0,1.0,0.66,0.0,1.0,0.0,1.0,0.0
52000,0.61,0.26,0.9,0.48,0.33,1.0,0.0,0.39,1.0,0.0,0.0,1.0,0.0

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,
52931,0.66,0.18,0.3,0.00,0.33,1.0,0.0,0.66,1.0,0.0,0.0,0.0,1.0
70772,0.81,0.36,0.7,0.54,0.00,1.0,0.0,0.72,0.0,1.0,0.0,1.0,0.0
25090,0.60,0.34,0.9,0.49,0.00,0.0,0.0,0.83,0.0,1.0,0.0,0.0,1.0
154802,0.45,0.18,0.6,0.00,0.33,1.0,1.0,0.65,1.0,0.0,0.0,0.0,1.0
42624,0.71,0.30,0.8,0.00,0.33,1.0,0.0,0.62,1.0,0.0,0.0,0.0,1.0

In [55]:
# Dtree = decision_tree(X=trainX, Y=trainY, max_depth=9)
# print("Train performance")
# predictions_train, accuracy_train, f1_train = predict(Dtree, trainX, trainY)
# print("Test performance")
# predictions_test, accuracy_test, f1_test = predict(Dtree, testX, testY)
# print("OOT performance")
# predictions_OOT, accuracy_OOT, f1_OOT = predict(Dtree, OOTX, OOTY)

In [56]:
# XGB = xgboost(X=trainX, Y=trainY, learning_rate=0.05, n_estimators=1000, subsample=0.3, max_depth=5)
# print("Train performance")
# predictions_train, accuracy_train, f1_train = predict(XGB, trainX, trainY)
# print("Test performance")
# predictions_test, accuracy_test, f1_test = predict(XGB, testX, testY)
# print("OOT performance")
# predictions_OOT, accuracy_OOT, f1_OOT = predict(XGB, OOTX, OOTY)

In [57]:
# KNN = knn(X=trainX, Y=trainY, distance='euclidean', n_neighbors=1000)
# print("Train performance")
# predictions_train, accuracy_train, f1_train = predict(KNN, trainX, trainY)
# print("Test performance")
# predictions_test, accuracy_test, f1_test = predict(KNN, testX, testY)
# print("OOT performance")
# predictions_OOT, accuracy_OOT, f1_OOT = predict(KNN, OOTX, OOTY)

In [58]:
NN = nnet(X=trainX, Y=trainY, learning_rate=0.001, loss='binary_crossentropy', epochs=100, batch_size=32, validation_split=0.2, patience=15)

Epoch 1/100
2476/2476 [==============================] - 3s 892us/step - loss: 0.4071 - auc_3: 0.8046 - val_loss: 0.3862 - val_auc_3: 0.8345
Epoch 2/100
2476/2476 [==============================] - 2s 824us/step - loss: 0.3604 - auc_3: 0.8577 - val_loss: 0.3476 - val_auc_3: 0.8692
Epoch 3/100
2476/2476 [==============================] - 2s 790us/step - loss: 0.3395 - auc_3: 0.8762 - val_loss: 0.3392 - val_auc_3: 0.8745
Epoch 4/100
2476/2476 [==============================] - 2s 768us/step - loss: 0.3349 - auc_3: 0.8792 - val_loss: 0.3371 - val_auc_3: 0.8765
Epoch 5/100
2476/2476 [==============================] - 2s 757us/step - loss: 0.3327 - auc_3: 0.8807 - val_loss: 0.3389 - val_auc_3: 0.8769
Epoch 6/100
2476/2476 [==============================] - 2s 767us/step - loss: 0.3317 - auc_3: 0.8816 - val_loss: 0.3363 - val_auc_3: 0.8779
Epoch 7/100
2476/2476 [==============================] - 2s 770us/step - loss: 0.3311 - auc_3: 0.8817 - val_loss: 0.3346 - val_auc_3: 0.8779
Epoch 8/100
2476/2476 [==============================] - 2s 775us/step - loss: 0.3305 - auc_3: 0.8823 - val_loss: 0.3339 - val_auc_3: 0.8785
Epoch 9/100
2476/2476 [==============================] - 2s 758us/step - loss: 0.3298 - auc_3: 0.8827 - val_loss: 0.3339 - val_auc_3: 0.8787
Epoch 10/100
2476/2476 [==============================] - 2s 775us/step - loss: 0.3294 - auc_3: 0.8829 - val_loss: 0.3387 - val_auc_3: 0.8789
Epoch 11/100
2476/2476 [==============================] - 2s 772us/step - loss: 0.3291 - auc_3: 0.8832 - val_loss: 0.3327 - val_auc_3: 0.8796
Epoch 12/100
2476/2476 [==============================] - 2s 767us/step - loss: 0.3285 - auc_3: 0.8835 - val_loss: 0.3326 - val_auc_3: 0.8796
Epoch 13/100
2476/2476 [==============================] - 2s 770us/step - loss: 0.3284 - auc_3: 0.8838 - val_loss: 0.3333 - val_auc_3: 0.8800
Epoch 14/100
2476/2476 [==============================] - 2s 839us/step - loss: 0.3280 - auc_3: 0.8841 - val_loss: 0.3333 - val_auc_3: 0.8800
Epoch 15/100
2476/2476 [==============================] - 2s 787us/step - loss: 0.3271 - auc_3: 0.8847 - val_loss: 0.3313 - val_auc_3: 0.8806
Epoch 16/100
2476/2476 [==============================] - 2s 775us/step - loss: 0.3265 - auc_3: 0.8851 - val_loss: 0.3307 - val_auc_3: 0.8810
Epoch 17/100
2476/2476 [==============================] - 2s 782us/step - loss: 0.3257 - auc_3: 0.8857 - val_loss: 0.3326 - val_auc_3: 0.8808
Epoch 18/100
2476/2476 [==============================] - 2s 781us/step - loss: 0.3253 - auc_3: 0.8859 - val_loss: 0.3297 - val_auc_3: 0.8817
Epoch 19/100
2476/2476 [==============================] - 2s 764us/step - loss: 0.3251 - auc_3: 0.8860 - val_loss: 0.3301 - val_auc_3: 0.8820
Epoch 20/100
2476/2476 [==============================] - 2s 762us/step - loss: 0.3244 - auc_3: 0.8868 - val_loss: 0.3300 - val_auc_3: 0.8824
Epoch 21/100
2476/2476 [==============================] - 2s 757us/step - loss: 0.3242 - auc_3: 0.8868 - val_loss: 0.3313 - val_auc_3: 0.8820
Epoch 22/100
2476/2476 [==============================] - 2s 770us/step - loss: 0.3234 - auc_3: 0.8874 - val_loss: 0.3309 - val_auc_3: 0.8820
Epoch 23/100
2476/2476 [==============================] - 2s 775us/step - loss: 0.3234 - auc_3: 0.8875 - val_loss: 0.3316 - val_auc_3: 0.8816
Epoch 24/100
2476/2476 [==============================] - 2s 769us/step - loss: 0.3231 - auc_3: 0.8876 - val_loss: 0.3290 - val_auc_3: 0.8828
Epoch 25/100
2476/2476 [==============================] - 2s 779us/step - loss: 0.3231 - auc_3: 0.8876 - val_loss: 0.3297 - val_auc_3: 0.8826
Epoch 26/100
2476/2476 [==============================] - 2s 775us/step - loss: 0.3229 - auc_3: 0.8877 - val_loss: 0.3291 - val_auc_3: 0.8826
Epoch 27/100
2476/2476 [==============================] - 2s 774us/step - loss: 0.3231 - auc_3: 0.8876 - val_loss: 0.3285 - val_auc_3: 0.8829
Epoch 28/100
2476/2476 [==============================] - 2s 766us/step - loss: 0.3225 - auc_3: 0.8880 - val_loss: 0.3298 - val_auc_3: 0.8829
Epoch 29/100
2476/2476 [==============================] - 2s 765us/step - loss: 0.3223 - auc_3: 0.8882 - val_loss: 0.3290 - val_auc_3: 0.8822
Epoch 30/100
2476/2476 [==============================] - 2s 778us/step - loss: 0.3222 - auc_3: 0.8882 - val_loss: 0.3310 - val_auc_3: 0.8819
Epoch 31/100
2476/2476 [==============================] - 2s 768us/step - loss: 0.3222 - auc_3: 0.8882 - val_loss: 0.3289 - val_auc_3: 0.8825
Epoch 32/100
2476/2476 [==============================] - 2s 774us/step - loss: 0.3220 - auc_3: 0.8883 - val_loss: 0.3351 - val_auc_3: 0.8819
Epoch 33/100
2476/2476 [==============================] - 2s 769us/step - loss: 0.3221 - auc_3: 0.8883 - val_loss: 0.3294 - val_auc_3: 0.8828
Epoch 34/100
2476/2476 [==============================] - 2s 763us/step - loss: 0.3218 - auc_3: 0.8884 - val_loss: 0.3291 - val_auc_3: 0.8823
Epoch 35/100
2476/2476 [==============================] - 2s 765us/step - loss: 0.3216 - auc_3: 0.8885 - val_loss: 0.3355 - val_auc_3: 0.8818
Epoch 36/100
2476/2476 [==============================] - 2s 771us/step - loss: 0.3214 - auc_3: 0.8886 - val_loss: 0.3291 - val_auc_3: 0.8822
Epoch 37/100
2476/2476 [==============================] - 2s 778us/step - loss: 0.3214 - auc_3: 0.8884 - val_loss: 0.3291 - val_auc_3: 0.8829
Epoch 38/100
2476/2476 [==============================] - 2s 775us/step - loss: 0.3213 - auc_3: 0.8885 - val_loss: 0.3284 - val_auc_3: 0.8824
Epoch 39/100
2476/2476 [==============================] - 2s 771us/step - loss: 0.3213 - auc_3: 0.8886 - val_loss: 0.3281 - val_auc_3: 0.8827
Epoch 40/100
2476/2476 [==============================] - 2s 764us/step - loss: 0.3209 - auc_3: 0.8887 - val_loss: 0.3310 - val_auc_3: 0.8815
Epoch 41/100
2476/2476 [==============================] - 2s 797us/step - loss: 0.3209 - auc_3: 0.8888 - val_loss: 0.3301 - val_auc_3: 0.8824
Epoch 42/100
2476/2476 [==============================] - 2s 780us/step - loss: 0.3206 - auc_3: 0.8889 - val_loss: 0.3329 - val_auc_3: 0.8823
Epoch 43/100
2476/2476 [==============================] - 2s 756us/step - loss: 0.3206 - auc_3: 0.8889 - val_loss: 0.3285 - val_auc_3: 0.8827
Epoch 44/100
2476/2476 [==============================] - 2s 768us/step - loss: 0.3204 - auc_3: 0.8890 - val_loss: 0.3296 - val_auc_3: 0.8823
Epoch 45/100
2476/2476 [==============================] - 2s 771us/step - loss: 0.3202 - auc_3: 0.8890 - val_loss: 0.3286 - val_auc_3: 0.8825
Epoch 46/100
2476/2476 [==============================] - 2s 764us/step - loss: 0.3198 - auc_3: 0.8893 - val_loss: 0.3282 - val_auc_3: 0.8830
Epoch 47/100
2476/2476 [==============================] - 2s 761us/step - loss: 0.3201 - auc_3: 0.8889 - val_loss: 0.3280 - val_auc_3: 0.8826
Epoch 48/100
2476/2476 [==============================] - 2s 781us/step - loss: 0.3197 - auc_3: 0.8893 - val_loss: 0.3282 - val_auc_3: 0.8823
Epoch 49/100
2476/2476 [==============================] - 2s 755us/step - loss: 0.3197 - auc_3: 0.8892 - val_loss: 0.3288 - val_auc_3: 0.8830
Epoch 50/100
2476/2476 [==============================] - 2s 769us/step - loss: 0.3194 - auc_3: 0.8896 - val_loss: 0.3278 - val_auc_3: 0.8827
Epoch 51/100
2476/2476 [==============================] - 2s 767us/step - loss: 0.3196 - auc_3: 0.8893 - val_loss: 0.3289 - val_auc_3: 0.8824
Epoch 52/100
2476/2476 [==============================] - 2s 751us/step - loss: 0.3194 - auc_3: 0.8894 - val_loss: 0.3283 - val_auc_3: 0.8830
Epoch 53/100
2476/2476 [==============================] - 2s 773us/step - loss: 0.3194 - auc_3: 0.8894 - val_loss: 0.3282 - val_auc_3: 0.8827
Epoch 54/100
2476/2476 [==============================] - 2s 767us/step - loss: 0.3194 - auc_3: 0.8893 - val_loss: 0.3281 - val_auc_3: 0.8825
Epoch 55/100
2476/2476 [==============================] - 2s 766us/step - loss: 0.3189 - auc_3: 0.8896 - val_loss: 0.3299 - val_auc_3: 0.8826
Epoch 56/100
2476/2476 [==============================] - 2s 774us/step - loss: 0.3191 - auc_3: 0.8895 - val_loss: 0.3307 - val_auc_3: 0.8827
Epoch 57/100
2476/2476 [==============================] - 2s 765us/step - loss: 0.3192 - auc_3: 0.8894 - val_loss: 0.3274 - val_auc_3: 0.8828
Epoch 58/100
2476/2476 [==============================] - 2s 764us/step - loss: 0.3191 - auc_3: 0.8895 - val_loss: 0.3311 - val_auc_3: 0.8813

Epoch 59/100
2476/2476 [==============================] - 2s 775us/step - loss: 0.3190 - auc_3: 0.8897 - val_loss: 0.3280 - val_auc_3: 0.8825
Epoch 60/100
2476/2476 [==============================] - 2s 799us/step - loss: 0.3191 - auc_3: 0.8895 - val_loss: 0.3281 - val_auc_3: 0.8828
Epoch 61/100
2476/2476 [==============================] - 2s 764us/step - loss: 0.3192 - auc_3: 0.8895 - val_loss: 0.3283 - val_auc_3: 0.8827
Epoch 62/100
2476/2476 [==============================] - 2s 756us/step - loss: 0.3191 - auc_3: 0.8896 - val_loss: 0.3309 - val_auc_3: 0.8822
Epoch 63/100
2476/2476 [==============================] - 2s 790us/step - loss: 0.3192 - auc_3: 0.8895 - val_loss: 0.3283 - val_auc_3: 0.8829
Epoch 64/100
2476/2476 [==============================] - 2s 764us/step - loss: 0.3189 - auc_3: 0.8897 - val_loss: 0.3280 - val_auc_3: 0.8826
Epoch 65/100
2476/2476 [==============================] - 2s 765us/step - loss: 0.3189 - auc_3: 0.8897 - val_loss: 0.3289 - val_auc_3: 0.8824
Epoch 66/100
2476/2476 [==============================] - 2s 795us/step - loss: 0.3186 - auc_3: 0.8898 - val_loss: 0.3284 - val_auc_3: 0.8828
Epoch 67/100
2476/2476 [==============================] - 2s 758us/step - loss: 0.3185 - auc_3: 0.8899 - val_loss: 0.3285 - val_auc_3: 0.8826
Epoch 68/100
2476/2476 [==============================] - 2s 769us/step - loss: 0.3186 - auc_3: 0.8899 - val_loss: 0.3303 - val_auc_3: 0.8810
Epoch 69/100
2476/2476 [==============================] - 2s 766us/step - loss: 0.3188 - auc_3: 0.8897 - val_loss: 0.3280 - val_auc_3: 0.8827
Epoch 70/100
2476/2476 [==============================] - 2s 762us/step - loss: 0.3185 - auc_3: 0.8899 - val_loss: 0.3295 - val_auc_3: 0.8824
Epoch 71/100
2476/2476 [==============================] - 2s 762us/step - loss: 0.3186 - auc_3: 0.8899 - val_loss: 0.3289 - val_auc_3: 0.8828
Epoch 72/100
2476/2476 [==============================] - 2s 735us/step - loss: 0.3187 - auc_3: 0.8898 - val_loss: 0.3287 - val_auc_3: 0.8829

In [74]:
# GBM = gradient_boosting(X=trainX, Y=trainY, learning_rate=0.01, n_estimators=10000, subsample=0.5, max_depth=6)
# print("Train performance")
# predictions_train, accuracy_train, f1_train = predict(GBM, trainX, trainY)
# print("Test performance")
# predictions_test, accuracy_test, f1_test = predict(GBM, testX, testY)
# print("OOT performance")
# predictions_OOT, accuracy_OOT, f1_OOT = predict(GBM, OOTX, OOTY)

C:\Users\sagni\anaconda3\envs\CS7641\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Train performance
Accuracy: 0.9254292062209655
F1 Score: 0.8059293523969724
Test performance
Accuracy: 0.8645438846305329
F1 Score: 0.6389987888574888
OOT performance
Accuracy: 0.8605750295391886
F1 Score: 0.6288709677419355

In [62]:
#Testing on OOT dataset
#read data C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\Test.csv
submission = pd.read_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/Test.csv", index_col=0)
# submission['Age_Tenure_Ratio'] = submission['Age']/submission['Tenure']
# submission['Balance_Salary_Ratio'] = submission['Balance']/submission['EstimatedSalary']
# submission['Age_Balance_Ratio'] = submission['Age']/submission['Balance']
# submission['Balance_Tenure_Ratio'] = submission['Balance']/submission['Tenure']
# submission['CreditScore_Tenure_Ratio'] = submission['CreditScore']/submission['Tenure']
# submission['OtherProducts'] = submission['NumOfProducts'] - submission['HasCrCard']
# submission['Age_Balance_Salary_Ratio'] = submission['Age']/submission['Balance']/submission['EstimatedSalary']
# submission['Age_CreditScore_Ratio'] = submission['Age']/submission['CreditScore']
# submission['Balance_CreditScore_Ratio'] = submission['Balance']/submission['CreditScore']
# submission['Balance_Tenure_Salary_Ratio'] = submission['Balance']/submission['Tenure']/submission['EstimatedSalary']
# submission['CreditScore_Tenure_Salary_Ratio'] = submission['CreditScore']/submission['Tenure']/submission['EstimatedSalary']
submission = submission.replace([np.inf, -np.inf], 0)
submission = submission.fillna(0)
submission.drop(['Surname','CustomerId'], axis=1, inplace=True)
submission['HasCrCard'] = submission['HasCrCard'].astype(int)
submission['Age'] = submission['Age'].astype(int)
submission['IsActiveMember'] = submission['IsActiveMember'].astype(int)
# Transforming
transformed = transformer.transform(submission)
# Transformating back
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
# One-hot encoding removed an index. Let's put it back:
transformed_df.index = submission.index
# Joining tables
submission = pd.concat([submission, transformed_df], axis=1)
# Dropping old categorical columns
submission.drop(['Geography','Gender'], axis=1, inplace=True)
# CHecking result
eda(submission)
submission = pd.DataFrame(scaler.transform(submission), columns=submission.columns, index=submission.index)

# #Use Dtree
# predictions_submission = Dtree.predict(submission)
# predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
# #change column names to submi
# predictions_submission.columns = ['Exited']
# predictions_submission.head()
# #export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
# predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_Dtree.csv", index=True)

# #Use XGB
# predictions_submission = XGB.predict(submission)
# predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
# #change column names to submi
# predictions_submission.columns = ['Exited']
# predictions_submission.head()
# #export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
# predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_XGB.csv", index=True)

# #Use Knn
# predictions_submission = KNN.predict(submission)
# predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
# #change column names to submi
# predictions_submission.columns = ['Exited']
# predictions_submission.head()
# #export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
# predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_KNN.csv", index=True)

#Use NN
predictions_submission = NN.predict(submission)
threshold = 0.8
predictions_submission = (predictions_submission > threshold).astype(int)
predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
#change column names to submi
predictions_submission.columns = ['Exited']
display(predictions_submission.head())
#export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_NN8.csv", index=True)

# #Use GBM
# predictions_submission = GBM.predict(submission)
# predictions_submission = pd.DataFrame(predictions_submission, index=submission.index)
# #change column names to submi
# predictions_submission.columns = ['Exited']
# predictions_submission.head()
# #export to C:\Users\sagni\Documents\Personal Files\CS7641\CS7641\Data\Bank_churn\submi.csv with index
# predictions_submission.to_csv("C:/Users/sagni/Documents/Personal Files/CS7641/CS7641/Data/Bank_churn/submi_GBM.csv", index=True)

Shape
Number of columns are 110023 and number of rows are 13

Data types

CreditScore                    int64
Age                            int32
Tenure                         int64
Balance                      float64
NumOfProducts                  int64
HasCrCard                      int32
IsActiveMember                 int32
EstimatedSalary              float64
onehotencoder__x0_France     float64
onehotencoder__x0_Germany    float64
onehotencoder__x0_Spain      float64
onehotencoder__x1_Female     float64
onehotencoder__x1_Male       float64
dtype: object

Sample rows - Top 5

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
id,,,,,,,,,,,,,
165034,586,23,2,0.00,2,0,1,160976.75,1.0,0.0,0.0,1.0,0.0
165035,683,46,2,0.00,1,1,0,72549.27,1.0,0.0,0.0,1.0,0.0
165036,656,34,7,0.00,2,1,0,138882.09,1.0,0.0,0.0,1.0,0.0
165037,681,36,8,0.00,1,1,0,113931.57,1.0,0.0,0.0,0.0,1.0
165038,752,38,10,121263.62,1,1,0,139431.00,0.0,1.0,0.0,0.0,1.0

EDA Statistics

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,onehotencoder__x0_France,onehotencoder__x0_Germany,onehotencoder__x0_Spain,onehotencoder__x1_Female,onehotencoder__x1_Male
count,110023.00,110023.00,110023.00,110023.00,110023.00,110023.00,110023.0,110023.00,110023.00,110023.00,110023.00,110023.00,110023.00
mean,656.53,38.12,5.00,55333.61,1.55,0.75,0.5,112315.15,0.57,0.21,0.22,0.44,0.56
std,80.32,8.86,2.81,62788.52,0.54,0.43,0.5,50277.05,0.49,0.41,0.41,0.50,0.50
min,350.00,18.00,0.00,0.00,1.00,0.00,0.0,11.58,0.00,0.00,0.00,0.00,0.00
25%,597.00,32.00,3.00,0.00,1.00,1.00,0.0,74440.33,0.00,0.00,0.00,0.00,0.00
50%,660.00,37.00,5.00,0.00,2.00,1.00,0.0,117832.23,1.00,0.00,0.00,0.00,1.00
75%,710.00,42.00,7.00,120145.60,2.00,1.00,1.0,154631.35,1.00,0.00,0.00,1.00,1.00
max,850.00,92.00,10.00,250898.09,4.00,1.00,1.0,199992.48,1.00,1.00,1.00,1.00,1.00

Missing values

Series([], dtype: int64)

Count of Outliers

Age                            218
HasCrCard                    27171
onehotencoder__x0_Germany    22939
onehotencoder__x0_Spain      23913
dtype: int64

        Exited
id
165034       0
165035       1
165036       0
165037       0
165038       0